<header>
  <nav>
    <ul>
      <li routerLinkActive="active">
        <a [routerLink]="'sign-up'">Sign Up</a>
      </li>
      <li routerLinkActive="active" *ngIf="!isAuthenticated()">
        <a [routerLink]="'sign-in'">Sign In</a>
      </li>
      <li routerLinkActive="active" *ngIf="isAuthenticated()">
        <a [routerLink]="'sign-out'">Sign Out</a>
      </li>
    </ul>
  </nav>
</header>

<hr>

<router-outlet></router-outlet>
