<header>
  <nav>
    <ul>
      <li routerLinkActive="active">
        <a [routerLink]="'/messages'">Messages</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="'/auth'">Authentication</a>
      </li>
    </ul>
  </nav>
</header>
