<form [formGroup]="myForm" (ngSubmit)="onSubmit()">

  <p>
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" formControlName="firstName">
  </p>

  <p>
    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" formControlName="lastName">
  </p>

  <p>
    <label for="email">E-mail</label>
    <input type="email" id="email" formControlName="email">
  </p>

  <p>
    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password">
  </p>

  <button type="submit" [disabled]="myForm.invalid">Submit</button>
</form>
