<form #f="ngForm" (ngSubmit)="onSave(f)" ngNativeValidate>

  <label for="content">Content</label>
  <input type="text"
         id="content"
         name="content"
         [ngModel]="message?.content"
         required>

  <button type="button" (click)="onClear(f)">Clear</button>
  <button type="submit">Save</button>

</form>
