<p>
  <strong>{{ message.content }}</strong>
  by
  <em>{{ message.username }}</em>

  <ng-container *ngIf="belongsToUser()">
    <button (click)="onEdit()">Edit</button>
    <button (click)="onDelete()">Delete</button>
  </ng-container>
</p>
